<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="commons/layout :: head"></head>
<body>
	<header th:replace="commons/layout :: header"></header>
	<section class="py-4 mb-4 bg-light">
		<div class="container">
			<div class="row">
				<div class="d-grid col-md-3">
					<a href="#" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#addUser" >
						<i class="fas fa-plus"></i> Agregar usuario
                    </a>
					<div th:insert="users/add_user.html :: div"></div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Correo electr&oacute;nico</th>
					<th scope="col">Teléfono</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user,iterator: ${usuarios}" >
					<td th:text="${iterator.count}"></td>
					<td th:text="${user.nombreUsuario}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.telefono}"></td>
					<td>
						<a th:href="@{/usuarios/editar/{id}(id=${user.nombreUsuario})}" class="btn btn-info mr-2"><i class="fas fa-edit"></i></a>
						<a href="@{/eliminar/{id}(id=${user.nombreUsuario})}" class="btn btn-danger mr-2"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="commons/layout :: footer"></footer>
</body>
</html>