<div class="modal fade" id="addEmployee">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info text-white">
				<h5 class="modal-title">Agregar empleado</h5>
				<button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
			</div>
			<form th:action="@{/guardar}" method="POST" th:object="${employee}">
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 mb-2">
								<label for="firstNama" class="form-label">Nombre:</label> 
								<input type="text" class="form-control" id="firstName" name="firstName">
							</div>
							<div class="col-md-12 mb-2">
								<label for="lastName" class="form-label">Apellido:</label>
								<input type="text" class="form-control" id="lastName" name="lastName">
							</div>
							<div class="col-6 mb-2">
								<label for="email" class="form-label" >Correo electr&oacutenico:</label> 
								<input type="email" class="form-control" id="email" name="email">
							</div>
							<div class="col-6 mb-2">
								<label for="phoneNumber" class="form-label" >Tel&eacutefono</label>
								<input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
							</div>
							<div class="col-md-4">
								<label for="hireDate" class="form-label">Fecha de contrataci&oacuten</label> 
								<input type="date" class="form-control" id="hireDate" name="hireDate">
							</div>
							<div class="col-md-4">
								<label for="salary" class="form-label">Sueldo:</label> 
								<input type="text" class="form-control" id="salary" name="salary">
							</div>
							<div class="col-md-4">
								<label for="commissionPct" class="form-label">Comisi&oacuten:</label> 
								<input type="text" class="form-control" id="commissionPct" name="commissionPct">
							</div>
							<div class="col-md-4">
								<label for="jobId" class="form-label">Trabajo:</label> 
								<select id="jobId" class="form-control" name="jobId">
									<option th:each="job:${jobs}" th:text="${job.jobTitle}" th:value="${job.jobId}"></option>
								</select>
							</div>
							<div class="col-md-4">
								<label for="manegerId" class="form-label">Administrador:</label> 
								<select id="managerId" class="form-control" name="managerId">
									<option th:each="employee: ${employees}" 
										th:text="${employee.firstName} + ' ' + ${employee.lastName}" th:value="${employee.employeeId}"></option>
								</select>
							</div>
							<div class="col-md-4">
								<label for="departmentId" class="form-label">Departamento:</label> 
								<select id="departmentId" class="form-control" name="deparmentId">
									<option th:each="department: ${departments}" th:text="${department.departmentName}" th:value="${department.departmentId}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-12">
						<button type="submit" class="btn btn-success btn-block"><i class="fas fa-save"></i> Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>