<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8">
	<title>Control de empleados</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/3a9fc5cf36.js" crossorigin="anonymous"></script>
</head>
<body>
	<div th:insert="/commons/navbar.html :: div"></div>
	<section class="container">
		<ul>
			<li th:text="'N°. empleado: ' +  ${employee.employeeId}"></li>
			<li th:text="'Nombre: ' + ${employee.firstName} + ' ' + ${employee.lastName}"></li>
			<li th:text="'Correo corporativo: ' + ${employee.email}"></li>
			<li th:text="'Teléfono: ' + ${employee.phoneNumber}"></li>
			<li th:text="'Fecha de contratación: ' + ${employee.hireDate}"></li>
			<li th:text="'Trabajo: ' + ${employee.job.jobTitle}"></li>
			<li th:text="'Sueldo: ' + ${employee.salary}"></li>
			<li th:text="${employee.commissionPct != null} ? 'Comisión (%): ' + ${employee.commissionPct} : 'Comisión (%): No aplica'"></li>
			<li th:text="${employee.managerId != null} ? 'Gerente: ' + ${gerente.firstName} + ' ' + ${gerente.lastName} : 'Gerente: No aplica'" ></li>
			<li th:text="'Departamento: ' + ${employee.department.departmentName}"></li>
		</ul>
	</section>
</body>
</html>