<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="commons/layout :: head"></head>
<body>
	<footer th:replace="commons/layout :: header"></footer>
	<section class="container">
		<ul>
			<li th:text="'N°. empleado: ' +  ${employee.employeeId}"></li>
			<li th:text="'Nombre: ' + ${employee.firstName} + ' ' + ${employee.lastName}"></li>
			<li th:text="'Correo corporativo: ' + ${employee.email}"></li>
			<li th:text="'Teléfono: ' + ${employee.phoneNumber}"></li>
			<li th:text="'Fecha de contratación: ' + ${employee.hireDate}"></li>
			<li th:text="'Trabajo: ' + ${employee.job.jobTitle}"></li>
			<li th:text="'Sueldo: ' + ${employee.salary}"></li>
			<li th:text="${employee.commissionPct != null} ? 'Comisión (%): ' + ${employee.commissionPct} : 'Comisión (%): No aplica'"></li>
			<li th:text="${employee.managerId != null} ? 'Gerente: ' + ${gerente.firstName} + ' ' + ${gerente.lastName} : 'Gerente: No aplica'" ></li>
			<li th:text="'Departamento: ' + ${employee.department.departmentName}"></li>
		</ul>
	</section>
	<footer th:replace="commons/layout :: footer"></footer>
</body>
</html>